body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
:root {
  --text: #110514;
  --background: #fbf4fb;
  --primary: #ab3fc6;
  --secondary: #e88aa3;
  --accent: #e16363;
}
.theme-dark {
  --text: #f7ebfa;
  --background: #0b040b;
  --primary: #a539c0;
  --secondary: #73172f;
  --accent: #9a1d1d;
}